@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ecbbdd;
}

/* ------------------------------------------------------- */


/* ---------------------- CREATE NOTE ---------------------- */

.btn_back {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background-color: #ac88a1;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

.btn_back:hover {
    color: #0e5096; 
}

.container_create_note{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.area_create_note{
    width: 100%;
    max-width: 680px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 50px 50px 50px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.area_create_note form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.area_create_note textarea{
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 8px;
}

.area_create_note button{
    height: 40px;
    background-color: #ecbbdd;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.area_create_note button:hover{
    background-color: #ac88a1;
    color: #fff;
}

.area_create_note button i{
    font-size: 15px;
}

/* ---------------------- CREATE NOTE ---------------------- */


/* ---------------------- NOTES(INDEX) ---------------------- */

.area_note{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_notes{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container_notes h2{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
    font-size: 32px;
}

.note_content {
    width: 100%;
    max-width: 680px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 50px 50px 50px 0;
}

.note{
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 17px;
}

.btn_edit{
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.btn_delete{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.btn_edit:hover,
.btn_delete:hover{
    transform: scale(1.1);
}

.btn_edit,
.btn_delete{
    transition: all 0.3s ease;
}

@media (max-width: 735px) {
    .note {
        max-width: 370px;
    }
    .container_notes h2{
        font-size: 24px;
    }
    .btn_edit{
        margin: 0;
    }
    .note_content form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

@media (max-width: 620px){
    .note_content{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px
    }
    .note_content form{
        display: flex;
        gap: 30px;
    }
    .btn_area{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}